{% extends 'base.html' %}

{% load static %}

{% block title %} Sign Up - My Wellness {% endblock %}
             
{% block hero-h1 %} Sign Up {% endblock %}

{% block hero-paragraph %} Please enter your details to sign up {% endblock %}

{%block content %}

            <section class="page-section form-layout">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn" type="submit">Create Account</button>
            </section>

{% endblock %}
