{% extends 'base.html' %}

{% load static %}

{% block title %} Daily Log Update - My Wellness {% endblock %}
                    
{% block hero-h1 %} Daily Log Update {% endblock %}

{% block hero-paragraph %} Update the details of this daily log. {% endblock %}

{% block hero-button %} <a class="btn" href="{% url 'daily_logs' %}">Show All Daily Logs</a> {% endblock %}


{%block content %}

            <section class="page-section">
                
            <form method="post">
                {% csrf_token %}
                {{ daily_log_form.as_p }}
                <button type="submit" class="btn">Update Daily Log</button>
            </form>
              
            </section>

{% endblock %}

 

