{% extends 'base.html' %}

{% load static %}

{% block title %} Exercises - My Wellness {% endblock %}
                    
{% block hero-h1 %} My Exercises {% endblock %}

{% block hero-paragraph %} These are examples of recent exercises. {% endblock %}

{% block hero-button %} <a class="btn" href="{% url 'log_exercise' %}">Log an Exercise</a> {% endblock %}


{%block content %}


            <section class="page-section">

{% if exercises %}

                <div class="table-card">
                    <table>
                        <thead>
                            <tr>
                                <th>Exercise</th>
                                <th>Details</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exercise in exercises %}
                            <tr>
                                <td>{{ exercise.emoji }} {{ exercise.name }}</td>
                                <td><a class="btn" href="{% url 'exercise_detail' exercise.id %}">Details</a></td>
                                <td><a class="btn" href="{% url 'exercise_update' exercise.id %}">Edit</a></td>
                                <td><a class="btn" href="{% url 'exercise_delete' exercise.id %}">Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
{% else %}
                <p>No exercises available.</p>
            {% endif %}
            </section>



{% endblock %}

